#mainContainer{
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: white;
}

.css-po84cw-MuiButtonBase-root-MuiIconButton-root{
  --IconButton-hoverBg: none !important;
  &:focus {
    outline: none !important;
  }
}
