.dbConnectionPillContainer > .MuiListItemButton-root >  .css-cokf1l-MuiListItemIcon-root{
    min-width: 10px !important;
}

.dbConnectionPillContainer .MuiCollapse-root  .css-cokf1l-MuiListItemIcon-root{
    min-width: 20px !important;
}
.dbConnectionPillContainer .css-1k80kex {
    min-width: 10px !important;
}

.dbConnectionPillContainer .MuiCollapse-root .MuiListItemText-root span{
    overflow: hidden;
    text-overflow: ellipsis;
}